<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Find Jobs and Hire skilled Freelancers, at a click - PeoplePerHour.com</title>
    	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
        <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
        
        <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="js/jquery.min.js"></script>
    	<script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/tab.js"></script>
<!--    <script type="text/javascript" src="js/bootstrap.js"></script>
        <script type="text/javascript" src="js/dropdown.js"></script>
        <script type="text/javascript">
			$(document).ready(function(){
			$("#myModal").modal('hide');
			});
		</script>  -->
        
        <script>
  $(function () {
    $('#myTab a:first').tab('show') 
  })
</script>
        
        
        
	</head>

	<body style="background-color:#f0f0ee;">
    	<div class="container" style="background-color:#FFF; margin-top:5%;">
        	<nav class="navbar navbar-default" role="navigation">
        		<div class="container-fixed">
					<div class="navbar-header">
                		<div align="left">
                	  		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               	      			<span class="sr-only">Toggle navigation</span>
               	      			<span class="icon-bar"></span>
               	      			<span class="icon-bar"></span>
               	      			<span class="icon-bar"></span>
               	      		</button>
              	  		</div>
            		</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               			<div class="container">
               				<div class="row">
                				<div class="col-lg-2 col-md-2 col-sm-2" style="margin-top:5%;">
                            		<div class="menu-tabs1">
               							<ul class="nav navbar-nav navbar-left">
               					  			<div class="account">
                                      			<li class="account-text">
                                          			<div align="right"><a data-toggle="modal" href="#myModal"> LogIn</a> &nbsp;&nbsp;   &nbsp;&nbsp;</div>
                                          			<div id="myModal" class="modal fade">
    													<div class="modal-dialog">
        													<div class="modal-content">
            													<div class="modal-header">
                													<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                													<h4 class="modal-title">LogIn</h4>
            													</div>
            													<div class="modal-body">
                													<form class="form-group" role="form" action="#">
                                          								<div class="col-sm-7">
                                        									<input type="text" name="mailid" class="form-control" placeholder="E-Mail ID" /><br><br>
                                  										</div>
                                    									<div class="col-sm-7">
                                    										<input type="password" name="passwd" class="form-control" placeholder="Password" /><br><br>
                                    									</div>
                                                            			<div class="col-sm-7">
                                                            				<a href="forget.html"><label style="color:#000; float:left; cursor:pointer;">Forgot Password..??</label></a><br>
                                                            			</div>
                                                            			<div class="col-sm-7">
                                                                			<a href="signup.html"><label style="color:#000; float:left; cursor:pointer;">Sign Up</label></a>
                                                            			</div>  
                           											</form>
            													</div><br><br>
            													<div class="modal-footer" style="margin-top: 10%;">
                													<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                													<button type="button" class="btn btn-primary">Sign In</button>
            													</div>
        													</div>
    													</div>
                                            		</div>
                                      			</li>
                                    		</div>
                                    		<div class="signup">
                    							<li class="signup-text">
                    					  			<div align="right"><a href="signup.html"> </a></div>
                    							</li>
                                    		</div>
                    					</ul>
                                	</div>
                				</div>
                            	<div class="col-lg-10 col-md-10 col-sm-10" style="margin-left:-5%; margin-top:4%;">
                					<div class="menu-tabs1">
                				  		<ul class="nav navbar-nav navbar-right">
                				    		<li><a href="admin_msg.html"><span class="fa fa-2x fa-envelope"></span> &nbsp;&nbsp; MESSAGE (0)</a></li>
                				    		<li><a href="admin_notify.html"><span class="fa fa-2x fa-bell"></span> &nbsp;&nbsp; NOTIFICATIONS (0)</a></li>
                				    		<li><a href="admin_payment.html"><span class="fa fa-2x fa-money"></span> &nbsp;&nbsp; PAYMENTS</a></li>
                				    		<li><a href="admin_favorite.html"><span class="fa fa-2x fa-star"></span> &nbsp;&nbsp; FAVORITES</a></li>
                                            <li><div class="btn-group" style="margin-top: 16%; margin-right: 25%;"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-2x fa-user"></span> &nbsp;&nbsp; USER</a>
                                            <ul class="dropdown-menu" role="menu">
    											<li><a href="#">Manage Profile</a></li>
    											<li><a href="#">Read Messages (0)</a></li>
    											<li><a href="#">Notifications (0)</a></li>
                                                <li><a href="#">View My Profile</a></li>
                                                <li><a href="#">Account Settings</a></li>
    											<li class="divider"></li>
    											<li><a href="#">Sign Out</a></li>
  											</ul>
										</div>
                                      </li>
              				    		</ul>
              				  		</div>
               					</div>
                			</div>
            			</div>
        			</div>
        		</div>
    		</nav>
        
        	<div class="container">
            	<div class="row" style="margin-top:3%;">
                	<div class="col-lg-6 col-md-6 col-sm-6 pull-left">
                    	<img src="image/img-logo.png" class="img-responsive" />
                    </div>
                    
                </div>
                
                <div class="row" style="margin:5% 4% 3% 1%; background-color:#f0f0ee; padding-top:2%; padding-bottom:2%;">
                	<div class="col-lg-3 col-md-3 col-sm-3">
                    	<div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                    		<ul class="nav nav-tabs nav-stacked">
  								<li><a href="adminpanel.html"><span class="fa fa-home fa-2x" style="color:#ff7700;"></span>&nbsp;&nbsp;&nbsp; Dashboard</a></li>
  								<li><a href="adminpanel1.html"><span class="fa fa-bar-chart-o fa-2x" style="color:#ff7700;"></span>&nbsp;&nbsp;&nbsp; Charts & Graphs</a></li>
  								<li><a href="adminpanel2.html"><span class="fa fa-table fa-2x" style="color:#ff7700;"></span>&nbsp;&nbsp;&nbsp; Tables</a></li>
  								<li><a href="adminpanel3.html"><span class="fa fa-file-text fa-2x" style="color:#ff7700;"></span>&nbsp;&nbsp;&nbsp; Forms</a></li>
                                <li><a href="adminpanel4.html"><span class="fa fa-th fa-2x" style="color:#ff7700;"></span>&nbsp;&nbsp;&nbsp; Job Posted</a></li>
  								<li><a href="adminpanel5.html"><span class="fa fa-desktop fa-2x" style="color:#ff7700;"></span>&nbsp;&nbsp;&nbsp; Hourlies Posted</a></li>
  								<li><a href="adminpanel6.html"><span class="fa fa-comments fa-2x" style="color:#ff7700;"></span>&nbsp;&nbsp;&nbsp; My Endorsement</a></li>
                                <li><a href="#" data-toggle="modal" data-target=".bs-example-modal-lg"><span class="fa fa-refresh fa-2x" style="color:#ff7700;"></span>&nbsp;&nbsp;&nbsp; Proposal Credits</a></li>
                                
									<div aria-hidden="false" aria-labelledby="myLargeModalLabel" role="dialog" tabindex="-1" class="modal fade bs-example-modal-lg in">
    									<div class="modal-dialog modal-lg">
      										<div class="modal-content">
												<div class="modal-header">
          											<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
          											<h4 id="myLargeModalLabel" class="modal-title">Buy PROPOSAL CREDITS</h4>
        										</div>
        										<div class="modal-body">
          											<p>You can buy more proposal credits, send proposals to even more jobs and increase your chances to get awarded one! </p><br>
        										</div>
      										</div><!-- /.modal-content -->
    									</div><!-- /.modal-dialog -->
  									</div>  
							</ul>
						</div><br><br>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9">
                    	<div class="row">
                        	
                            <div class="col-lg-12 col-md-12 col-sm-12" style="background-color:#FFF;  margin-left: 5%; margin-top: 3px; width: 93%; padding-top:5%;">
                            	<h2>EDIT YOUR PROFILE</h2><br><br>
                                <p style="color:#CCC;">Fill your Profile Information</p>
                                <div class="row" style="padding:2%;">
                                    <div class="col-md-12" style="background-color:#ebebeb; padding:2%;">
                                        <br>
    									<form class="form-group" action="#" name="post">
                            				<div class="col-sm-6 col-md-6 col-lg-6">
    											<label style="color:#ff7700;"><br>First Name</label><br>
                                    			<input type="text" class="form-control" name="ques1" />	
  											</div>
                                            <div class="col-sm-6 col-md-6 col-lg-6">
    											<label style="color:#ff7700;"><br>Last Name</label><br>
                                    			<input type="text" class="form-control" name="ques2" />	
  											</div>
                                            <div class="col-sm-12 col-md-12 col-lg-12">
    											<label style="color:#ff7700;"><br>Job Title</label><br>
                                    			<input type="text" class="form-control" name="ques3" placeholder="Example: Web Designer, Copywriter, Developer ..." />	
  											</div>
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                            	<label style="color:#ff7700;"><br>Profile Picture</label>&nbsp;&nbsp;&nbsp;(recommended)<br><br>
                                                <img src="image/img-user-pic.png" class="img-responsive col-md-3" />
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-6">
    											<label style="color:#ff7700;"><br>Location City</label><br>
                                    			<input type="text" class="form-control" name="ques4" />	
  											</div>
                                            <div class="col-sm-6 col-md-6 col-lg-6">
    											<label style="color:#ff7700;"><br>Phone</label><br>
                                    			<input type="text" class="form-control" name="ques5" />	
  											</div>
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                            	<label style="color:#ff7700;"><br>Rate per Hour</label>&nbsp;&nbsp;&nbsp;(optional)<br>
                                            	<select class="form-horizontal" name="ques6"  style="width:6%;">
                                    				<option name="1">$</option>
                                        			<option name="2">&euro;</option>
                                        			<option name="3">&pound;</option>
                                        			<option name="4">₹</option>
                                        			<option name="5"></option>
                                 				</select>
                                    			<input type="text" class="form-horizontal" name="ques7" style="width:41%;" />
                                        	</div>
                                            <div class="col-sm-12 col-md-12 col-lg-12">
    											<label style="color:#ff7700;"><br>About You</label><br>
                                    			<textarea rows="7" class="form-control" name="ques8"></textarea>
  											</div>
                                            <div class="col-sm-12 col-md-12 col-lg-12">
    											<label style="color:#ff7700;"><br>Add Skills</label>&nbsp;&nbsp;&nbsp;(visible on your Profile)<br>
                                    			<input type="text" class="form-control" name="ques9" placeholder="Type here to add..." />
                                                Can't find a skill? <a href="#">Contact Us</a> to add it. 	
  											</div>
                                            <div class="col-sm-12 col-md-12 col-lg-12">
    											<label style="color:#ff7700;"><br>Introduce yourself to Buyers with an appealing video</label>&nbsp;&nbsp;&nbsp;(optional)<br>
                                                <div class="col-sm-12 col-md-12 col-lg-12" style="background-color:#CCC;">
                                                	<h3><br><br>Please make sure you have Flash Player 11 or higher installed<br><br><br></h3>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                            	<label style="color:#ff7700;"><br>Portfolio</label>&nbsp;&nbsp;&nbsp;(optional)<br>
                                            	<div class="col-sm-12 col-md-12 col-lg-12" style="border:#666 2px dashed; padding:2%;">
                                            		<center><br><br>Drop files here or Browse to add attachments<br><br><br></center>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-12 col-lg-12"><br><br>
                                            	<input type="checkbox" class="form-horizontal" name="check" />
                                                &nbsp;&nbsp;&nbsp;&nbsp;Share my Portfolio on Facebook
                                            </div>
                                            <div class="col-sm-12 col-md-12 col-lg-12"><br><br>
                                            	<button class="btn btn-info pull-right">Done</button>
                                            </div>
                                        </form>			
                    				</div>
                        		</div>
                        	</div>
                        </div>
                    </div>
             	</div>
        	</div>
            
     	</div>
        
        <footer>
            	<div class="row" style="margin:3% 5% 0 6%;">
                	<div class="col-lg-9 col-md-9 col-sm-9 pull-left">
                    	<p style="color:#ff7300;">&copy; Copyright 2014 Globussoft, Inc. | Website Development & Hosting by <a href="home.html">Globussoft.com</a></p>
                    </div>
                    
                </div>
            </footer>
            
            
            <script>
  				function animate_tab(menuId){
        		var no_of_tabs = 6+1;
        		for(i = 1; i < no_of_tabs; i++){
            	menu_id = "menu-0"+i.toString();
            	tab_id  = "tab-0"+i.toString();
            	if(menu_id == menuId){
              	document.getElementById(menu_id).className  = 'selected';
              	document.getElementById(tab_id).style.display = 'block';
            	}
            	else{
              		document.getElementById(menu_id).className  = 'unselected';
              		document.getElementById(tab_id).style.display = 'none';
           		}
        		}
      			}
		</script>
        
	</body>
</html>