<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Find Jobs and Hire skilled Freelancers, at a click - PeoplePerHour.com</title>
    	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
		<link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
        
        <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="js/jquery.min.js"></script>
    	<script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/bootstrap-carousel.js"></script>
<!--    <script type="text/javascript" src="js/bootstrap.js"></script>
        <script type="text/javascript" src="js/dropdown.js"></script>
        <script type="text/javascript">
			$(document).ready(function(){
			$("#myModal").modal('hide');
			});
		</script>  -->
	</head>

	<body style="background-color:#f0f0ee;">
    	<div class="container" style="background-color:#FFF; margin-top:5%;">
        	<nav class="navbar navbar-default" role="navigation">
        		<div class="container-fixed">
					<div class="navbar-header">
                		<div align="left">
                	  		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               	      			<span class="sr-only">Toggle navigation</span>
               	      			<span class="icon-bar"></span>
               	      			<span class="icon-bar"></span>
               	      			<span class="icon-bar"></span>
               	      		</button>
              	  		</div>
            		</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               			<div class="container">
               				<div class="row">
                				<div class="col-lg-4 col-md-4 col-sm-4" style="margin-top:5%;">
                            		<div class="menu-tabs1">
               							<ul class="nav navbar-nav navbar-left">
               					  			<div class="account">
                                      			<li class="account-text">
                                          			<div align="right"><a data-toggle="modal" href="#myModal"> LogIn</a></div>
                                          			<div id="myModal" class="modal fade">
    													<div class="modal-dialog">
        													<div class="modal-content">
            													<div class="modal-header">
                													<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                													<h4 class="modal-title">LogIn</h4>
            													</div>
            													<div class="modal-body">
                													<form class="form-group" role="form" action="#">
                                          								<div class="col-sm-7">
                                        									<input type="text" name="mailid" class="form-control" placeholder="E-Mail ID" /><br><br>
                                  										</div>
                                    									<div class="col-sm-7">
                                    										<input type="password" name="passwd" class="form-control" placeholder="Password" /><br><br>
                                    									</div>
                                                            			<div class="col-sm-7">
                                                            				<a href="forget.html"><label style="color:#000; float:left; cursor:pointer;">Forgot Password..??</label></a><br>
                                                            			</div>
                                                            			<div class="col-sm-7">
                                                                			<a href="signup.html"><label style="color:#000; float:left; cursor:pointer;">Sign Up</label></a>
                                                            			</div>  
                           											</form>
            													</div><br><br>
            													<div class="modal-footer" style="margin-top: 10%;">
                													<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                													<button type="button" class="btn btn-primary">Sign In</button>
            													</div>
        													</div>
    													</div>
                                            		</div>
                                      			</li>
                                    		</div>
                                    		<div class="signup">
                    							<li class="signup-text">
                    					  			<div align="right"><a href="signup.html"> &nbsp;&nbsp; | &nbsp;&nbsp;Signup</a></div>
                    							</li>
                                    		</div>
                    					</ul>
                                	</div>
                				</div>
                            	<div class="col-lg-8 col-md-8 col-sm-8" style="margin-left:-5%; margin-top:4%;">
                					<div class="menu-tabs">
                				  		<ul class="nav navbar-nav navbar-right">
                				    		<li><a href="home.html">HOME</a></li>
                				    		<li class="active"><a href="buyservices.html">BUY SERVICES</a></li>
                				    		<li><a href="sellservices.html">SELL SERVICES</a></li>
                				    		<li><a href="postjob.html">POST A JOB</a></li>
              				    		</ul>
              				  		</div>
               					</div>
                			</div>
            			</div>
        			</div>
        		</div>
    		</nav>
        
        	<div class="container">
            	<div class="row" style="margin-top:3%;">
                	<div class="col-lg-6 col-md-6 col-sm-6 pull-left">
                    	<img src="image/img-logo.png" class="img-responsive" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 pull-right" style="padding-right:5%;">
                    	<form class="navbar-form navbar-right" role="search">
							<div class="form-group search">
								<input type="text" class="form-control" name="search" placeholder="" style="border-radius:0px;" />
                            	<input type="submit" class="form-control" value=" " />
							</div>
						</form>
                    </div>
                </div>
                
                <div class="row" style="margin:5% 4% 3% 1%; background-color:#f0f0ee; padding-top:2%; padding-bottom:2%;">
                	<div class="col-lg-3 col-md-3 col-sm-3">
                    	<div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                    	<div class="btn-group" style="text-align: -moz-left !important; ">
  							<button id="dropdownMenu1" type="button" style="color:#ff7300;" class="btn fa fa-list fa-lg dropdown-toggle" data-toggle="dropdown">
                           	</button> &nbsp; <label style="margin-top:9px;">CATEGORIES</label>
                        	<ul class="dropdown-menu pull-left mega-menu">
   								<li class="mega-menu-column">
						    		<ul>
						        		<li class="nav-header">ALL CATEGORIES</li>
						        			<img src="image/img-mega-cate.png" class="img-thumbnail" />
										<li><a href="#">Design</a></li>
						        		<li><a href="#">Writing & Translation</a></li>
						        		<li><a href="#">Video, Photo & Audio</a></li>
						        		<li><a href="#">Business Support</a></li>
						        		<li><a href="#">Social Media</a></li>
						        		<li><a href="#">Sales & Marketing</a></li>
                                        <li><a href="#">Software Development</a></li>
                                        <li><a href="#">Mobile</a></li>
                                        <li><a href="#">Web Development</a></li>
						    		</ul>
						    	</li>    
        
						    	<li class="mega-menu-column">
						    		<ul>
						    			<li class="nav-header">POPULAR SKILLS</li>
						        			<img src="image/img-mega-pskills.png" class="img-thumbnail" />
										<li><a href="#">design &nbsp;&nbsp;&nbsp;&nbsp;</a></li>
						        		<li><a href="#">web development</a></li>
						        		<li><a href="#">web design</a></li>
						        		<li><a href="#">identity design&nbsp;&nbsp;&nbsp;</a></li>
						        		<li><a href="#">seo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
						        		<li><a href="#">business support</a></li>
										<li><a href="#">writing</a></li>
						        		<li><a href="#">wordpress</a></li>
						        		<li><a href="#">logo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
						        		<li><a href="#">video, photo & audio</a></li>
						        		<li><a href="#">search marketing</a></li>
						        		<li><a href="#">social media marketing</a></li>
										<li><a href="#">web writing</a></li>
						        		<li><a href="#">graphic design</a></li>
						        		<li><a href="#">html&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
						        		<li><a href="#">marketing pr</a></li>
						        		<li><a href="#">social media</a></li>
						        		<li><a href="#">article</a></li>
                                        <li><a href="#">illustration</a></li>
						        		<li><a href="#">blog writing</a></li>
						        		<li><a href="#">css&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br></a></li>
						        		<li><a href="#">photoshop</a></li>
						    		</ul>
						    	</li>
                           	</ul>
						</div>
                        </div><br><br>
                        <div class="col-lg-12 col-md-12 col-sm-12" style="background-color:#d7d7d7; padding:16% 7% 7%; margin-left:7%;">
                        	<div class="row">
                        		<div class="col-lg-12 col-md-12 col-sm-12">
                        			<select class="form-control" name="country" style="height: 33px;"> 
                               			<option value=" ">Select Country</option>
<option value="US"> United States</option>
<option value="CA"> Canada</option>
<option value="AL"> Albania</option>
<option value="DZ"> Algeria</option>
<option value="AD"> Andorra</option>
<option value="AO"> Angola</option>
<option value="AI"> Anguilla</option>
<option value="AQ"> Antarctica</option>
<option value="AG"> Antigua And Barbuda</option>
<option value="AR"> Argentina</option>
<option value="AM"> Armenia</option>
<option value="AW"> Aruba</option>
<option value="AU"> Australia</option>
<option value="AT"> Austria</option>
<option value="AZ"> Azerbaijan</option>
<option value="BS"> Bahamas</option>
<option value="BH"> Bahrain</option>
<option value="BD"> Bangladesh</option>
<option value="BB"> Barbados</option>
<option value="BY"> Belarus</option>
<option value="BE"> Belgium</option>
<option value="BZ"> Belize</option>
<option value="BJ"> Benin</option>
<option value="BM"> Bermuda</option>
<option value="BT"> Bhutan</option>
<option value="BO"> Bolivia</option>
<option value="BA"> Bosnia And Herzegowina</option>
<option value="BW"> Botswana</option>
<option value="BV"> Bouvet Island</option>
<option value="BR"> Brazil</option>
<option value="IO"> British Indian Ocean Territory</option>
<option value="BN"> Brunei Darussalam</option>
<option value="BG"> Bulgaria</option>
<option value="BF"> Burkina Faso</option>
<option value="BI"> Burundi</option>
<option value="KH"> Cambodia</option>
<option value="CM"> Cameroon</option>
<option value="CV"> Cape Verde</option>
<option value="KY"> Cayman Islands</option>
<option value="CF"> Central African Republic</option>
<option value="TD"> Chad</option>
<option value="CL"> Chile</option>
<option value="CN"> China</option>
<option value="CX"> Christmas Island</option>
<option value="CC"> Cocos (Keeling) Islands</option>
<option value="CO"> Colombia</option>
<option value="KM"> Comoros</option>
<option value="CG"> Congo</option>
<option value="CK"> Cook Islands</option>
<option value="CR"> Costa Rica</option>
<option value="CI"> Cote D'Ivoire</option>
<option value="HR"> Croatia (Local Name: Hrvatska)</option>
<option value="CU"> Cuba</option>
<option value="CY"> Cyprus</option>
<option value="CZ"> Czech Republic</option>
<option value="DK"> Denmark</option>
<option value="DJ"> Djibouti</option>
<option value="DM"> Dominica</option>
<option value="DO"> Dominican Republic</option>
<option value="TP"> East Timor</option>
<option value="EC"> Ecuador</option>
<option value="EG"> Egypt</option>
<option value="SV"> El Salvador</option>
<option value="GQ"> Equatorial Guinea</option>
<option value="ER"> Eritrea</option>
<option value="EE"> Estonia</option>
<option value="ET"> Ethiopia</option>
<option value="FK"> Falkland Islands (Malvinas)</option>
<option value="FO"> Faroe Islands</option>
<option value="FJ"> Fiji</option>
<option value="FI"> Finland</option>
<option value="FR"> France</option>
<option value="GF"> French Guiana</option>
<option value="PF"> French Polynesia</option>
<option value="TF"> French Southern Territories</option>
<option value="GA"> Gabon</option>
<option value="GM"> Gambia</option>
<option value="GE"> Georgia</option>
<option value="DE"> Germany</option>
<option value="GH"> Ghana</option>
<option value="GI"> Gibraltar</option>
<option value="GB"> United Kingdom</option>
<option value="GR"> Greece</option>
<option value="GL"> Greenland</option>
<option value="GD"> Grenada</option>
<option value="GP"> Guadeloupe</option>
<option value="GU"> Guam</option>
<option value="GT"> Guatemala</option>
<option value="GN"> Guinea</option>
<option value="GW"> Guinea-Bissau</option>
<option value="GY"> Guyana</option>
<option value="HT"> Haiti</option>
<option value="HM"> Heard And Mcdonald Islands</option>
<option value="VA"> Holy See (Vatican City State)</option>
<option value="HN"> Honduras</option>
<option value="HK"> Hong Kong</option>
<option value="HU"> Hungary</option>
<option value="IS"> Iceland</option>
<option value="IN"> India</option>
<option value="ID"> Indonesia</option>
<option value="IQ"> Iraq</option>
<option value="IE"> Ireland</option>
<option value="IL"> Israel</option>
<option value="IT"> Italy</option>
<option value="JM"> Jamaica</option>
<option value="JP"> Japan</option>
<option value="JO"> Jordan</option>
<option value="KZ"> Kazakhstan</option>
<option value="KE"> Kenya</option>
<option value="KI"> Kiribati</option>
<option value="KP"> Korea, Democratic People's Republic Of</option>
<option value="KR"> Korea, Republic Of</option>
<option value="KW"> Kuwait</option>
<option value="KG"> Kyrgyzstan</option>
<option value="LA"> Laos, People's Democratic Republic Of</option>
<option value="LV"> Latvia</option>
<option value="LB"> Lebanon</option>
<option value="LS"> Lesotho</option>
<option value="LR"> Liberia</option>
<option value="LY"> Libyan Arab Jamahiriya</option>
<option value="LI"> Liechtenstein</option>
<option value="LT"> Lithuania</option>
<option value="LU"> Luxembourg</option>
<option value="MO"> Macau</option>
<option value="MK"> Macedonia, The Former Yugoslav Republic Of</option>
<option value="MG"> Madagascar</option>
<option value="MW"> Malawi</option>
<option value="MY"> Malaysia</option>
<option value="MV"> Maldives</option>
<option value="ML"> Mali</option>
<option value="MT"> Malta</option>
<option value="MH"> Marshall Islands</option>
<option value="MQ"> Martinique</option>
<option value="MR"> Mauritania</option>
<option value="MU"> Mauritius</option>
<option value="YT"> Mayotte</option>
<option value="MX"> Mexico</option>
<option value="FM"> Micronesia, Federated States Of</option>
<option value="MD"> Moldova, Republic Of</option>
<option value="MC"> Monaco</option>
<option value="MN"> Mongolia</option>
<option value="MS"> Montserrat</option>
<option value="MA"> Morocco</option>
<option value="MZ"> Mozambique</option>
<option value="MM"> Myanmar</option>
<option value="NA"> Namibia</option>
<option value="NR"> Nauru</option>
<option value="NP"> Nepal</option>
<option value="NL"> Netherlands</option>
<option value="AN"> Netherlands Antilles</option>
<option value="NC"> New Caledonia</option>
<option value="NZ"> New Zealand</option>
<option value="NI"> Nicaragua</option>
<option value="NE"> Niger</option>
<option value="NG"> Nigeria</option>
<option value="NU"> Niue</option>
<option value="NF"> Norfolk Island</option>
<option value="MP"> Northern Mariana Islands</option>
<option value="NO"> Norway</option>
<option value="OM"> Oman</option>
<option value="PK"> Pakistan</option>
<option value="PW"> Palau</option>
<option value="PA"> Panama</option>
<option value="PG"> Papua New Guinea</option>
<option value="PY"> Paraguay</option>
<option value="PE"> Peru</option>
<option value="PH"> Philippines</option>
<option value="PN"> Pitcairn</option>
<option value="PL"> Poland</option>
<option value="PT"> Portugal</option>
<option value="PR"> Puerto Rico</option>
<option value="QA"> Qatar</option>
<option value="RE"> Reunion</option>
<option value="RO"> Romania</option>
<option value="RU"> Russian Federation</option>
<option value="RW"> Rwanda</option>
<option value="KN"> Saint Kitts And Nevis</option>
<option value="LC"> Saint Lucia</option>
<option value="VC"> Saint Vincent And The Grenadines</option>
<option value="WS"> Samoa</option>
<option value="SM"> San Marino</option>
<option value="ST"> Sao Tome And Principe</option>
<option value="SA"> Saudi Arabia</option>
<option value="SN"> Senegal</option>
<option value="SC"> Seychelles</option>
<option value="SL"> Sierra Leone</option>
<option value="SG"> Singapore</option>
<option value="SK"> Slovakia (Slovak Republic)</option>
<option value="SI"> Slovenia</option>
<option value="SB"> Solomon Islands</option>
<option value="SO"> Somalia</option>
<option value="ZA"> South Africa</option>
<option value="GS"> South Georgia And The South Sandwich Islands</option>
<option value="ES"> Spain</option>
<option value="LK"> Sri Lanka</option>
<option value="SH"> St. Helena</option>
<option value="PM"> St. Pierre And Miquelon</option>
<option value="SD"> Sudan</option>
<option value="SR"> Suriname</option>
<option value="SJ"> Svalbard And Jan Mayen Islands</option>
<option value="SZ"> Swaziland</option>
<option value="SE"> Sweden</option>
<option value="CH"> Switzerland</option>
<option value="SY"> Syrian Arab Republic</option>
<option value="TW"> Taiwan, Republic of China</option>
<option value="TJ"> Tajikistan</option>
<option value="TZ"> Tanzania, United Republic Of</option>
<option value="TH"> Thailand</option>
<option value="TG"> Togo</option>
<option value="TK"> Tokelau</option>
<option value="TO"> Tonga</option>
<option value="TT"> Trinidad And Tobago</option>
<option value="TN"> Tunisia</option>
<option value="TR"> Turkey</option>
<option value="TM"> Turkmenistan</option>
<option value="TC"> Turks And Caicos Islands</option>
<option value="TV"> Tuvalu</option>
<option value="UG"> Uganda</option>
<option value="UA"> Ukraine</option>
<option value="AE"> United Arab Emirates</option>
<option value="UM"> United States Minor Outlying Islands</option>
<option value="UY"> Uruguay</option>
<option value="UZ"> Uzbekistan</option>
<option value="VU"> Vanuatu</option>
<option value="VE"> Venezuela</option>
<option value="VN"> Viet Nam</option>
<option value="VG"> Virgin Islands (British)</option>
<option value="VI"> Virgin Islands (U.S.)</option>
<option value="WF"> Wallis And Futuna Islands</option>
<option value="WI"> West Indies</option>
<option value="EH"> Western Sahara</option>
<option value="YE"> Yemen</option>
<option value="YU"> Yugoslavia</option>
<option value="ZR"> Zaire</option>
<option value="ZM"> Zambia</option>
<option value="ZW"> Zimbabwe</option>
                        			</select><br><br>
                        	</div>
                            <div class="col-lg-12 col-md-12 col-sm-12">    
                            	<label>Sort by : </label><br><br>
                                <input type="checkbox" name="featured" class="form-horizontal" />&nbsp;&nbsp;&nbsp;Featured<br><br>
                                <input type="checkbox" name="pph" class="form-horizontal" />&nbsp;&nbsp;&nbsp;PPH Mix<br><br>
                                <input type="checkbox" name="popular" class="form-horizontal" />&nbsp;&nbsp;&nbsp;Popularity<br><br>
                                <input type="checkbox" name="latest" class="form-horizontal" />&nbsp;&nbsp;&nbsp;Latest<br><br>
                                <input type="checkbox" name="sellar" class="form-horizontal" />&nbsp;&nbsp;&nbsp;Sellar Rating<br><br>
                                <input type="checkbox" name="pricehl" class="form-horizontal" />&nbsp;&nbsp;&nbsp;Price (High to Low)<br><br>
                                <input type="checkbox" name="pricelh" class="form-horizontal" />&nbsp;&nbsp;&nbsp;Price (Low to High)<br><br><br>
                            </div>
                            <div class="divider"></div><br><br>
                            <div class="col-lg-12 col-md-12 col-sm-12">    
                            	<label><br><br>Price : </label><br><br>
                                <input type="checkbox" name="all" class="form-horizontal" />&nbsp;&nbsp;&nbsp;All Prices<br><br>
                                <input type="checkbox" name="30" class="form-horizontal" />&nbsp;&nbsp;&nbsp;under $30<br><br>
                                <input type="checkbox" name="45" class="form-horizontal" />&nbsp;&nbsp;&nbsp;$30 to $45<br><br>
                                <input type="checkbox" name="90" class="form-horizontal" />&nbsp;&nbsp;&nbsp;$45 to $90<br><br>
                                <input type="checkbox" name="150" class="form-horizontal" />&nbsp;&nbsp;&nbsp;$90 to $150<br><br>
                                <input type="checkbox" name="over" class="form-horizontal" />&nbsp;&nbsp;&nbsp;over $150<br><br>
                            </div>
                        </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9">
                    	<div class="row">
                        	<div class="col-lg-12 col-md-12 col-sm-12" style="margin-left: 4%; margin-top: 2px;">
                        		<label style="font-size:20px;">Hourlies</label>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>39,623 found</small>
                                <form class="navbar-form navbar-right" role="search">
									<div class="form-group search pull-right" style="margin-top: -10px; margin-right:32px;">
										<input type="text" class="form-control" name="search" placeholder="Search Hourlies..." style="border-radius:0px; margin-right:12%;" />
                            			<input type="submit" class="form-control" value=" " style="margin-left:-62px;" />
									</div>
								</form>
                            </div><br>
                            <div class="col-lg-12 col-md-12 col-sm-12" style="background-color:#FFF;  margin-left: 5%; margin-top: 3px; width: 93%; padding-top:5%;">
                            	<div class="col-sm-4 col-md-4 col-lg-4">
    								<div class="thumbnail">
      									<img src="image/img-pf-pic1.png" alt="pic1" />
                                        
      									<div class="caption">
        									<h4>JOB - I</h4>
        									<p></p>
        									<p><a href="#" class="pull-right" data-toggle="modal" data-target=".bs-example-modal-lg">more >></a></p><br>
                                            
                                            
                                            

<div aria-hidden="false" aria-labelledby="myLargeModalLabel" role="dialog" tabindex="-1" class="modal fade bs-example-modal-lg in">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
          <h4 id="myLargeModalLabel" class="modal-title">JOB DESCRIPTION</h4>
        </div>
        <div class="modal-body">
          <p>Description goes here</p><br>
          <button class="btn btn-primary">APPLY</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
                                            
                                            
     									</div>
    								</div>
  								</div>
                    			<div class="col-sm-4 col-md-4 col-lg-4">
    								<div class="thumbnail">
      									<img src="image/img-pf-pic2.png" alt="pic2">
      									<div class="caption">
        									<h4>JOB - II</h4>
        									<p></p>
        									<p><a href="#" class="pull-right">more >></a></p><br>
     									</div>
    								</div>
  								</div>
                    			<div class="col-sm-4 col-md-4 col-lg-4">
    								<div class="thumbnail">
      									<img src="image/img-pf-pic3.png" alt="pic3" />
                                        <img src="image/img-featured.png" class="featured" />
      									<div class="caption">
        									<h4>JOB - III</h4>
        									<p></p>
        									<p><a href="#" class="pull-right">more >></a></p><br>
     									</div>
    								</div>
  								</div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
    								<div class="thumbnail">
      									<img src="image/img-pf-pic1.png" alt="pic1" />
      									<div class="caption">
        									<h4>JOB - I</h4>
        									<p></p>
        									<p><a href="#" class="pull-right">more >></a></p><br>
     									</div>
    								</div>
  								</div>
                    			<div class="col-sm-4 col-md-4 col-lg-4">
    								<div class="thumbnail">
      									<img src="image/img-pf-pic2.png" alt="pic2" />
                                        <img src="image/img-featured.png" class="featured" />
      									<div class="caption">
        									<h4>JOB - II</h4>
        									<p></p>
        									<p><a href="#" class="pull-right">more >></a></p><br>
     									</div>
    								</div>
  								</div>
                    			<div class="col-sm-4 col-md-4 col-lg-4">
    								<div class="thumbnail">
      									<img src="image/img-pf-pic3.png" alt="pic3">
      									<div class="caption">
        									<h4>JOB - III</h4>
        									<p></p>
        									<p><a href="#" class="pull-right">more >></a></p><br>
     									</div>
    								</div>
  								</div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
    								<div class="thumbnail">
      									<img src="image/img-pf-pic1.png" alt="pic1" />
                                        <img src="image/img-featured.png" class="featured" />
      									<div class="caption">
        									<h4>JOB - I</h4>
        									<p></p>
        									<p><a href="#" class="pull-right">more >></a></p><br>
     									</div>
    								</div>
  								</div>
                    			<div class="col-sm-4 col-md-4 col-lg-4">
    								<div class="thumbnail">
      									<img src="image/img-pf-pic2.png" alt="pic2" />
                                        <img src="image/img-featured.png" class="featured" />
      									<div class="caption">
        									<h4>JOB - II</h4>
        									<p></p>
        									<p><a href="#" class="pull-right">more >></a></p><br>
     									</div>
    								</div>
  								</div>
                    			<div class="col-sm-4 col-md-4 col-lg-4">
    								<div class="thumbnail">
      									<img src="image/img-pf-pic3.png" alt="pic3">
      									<div class="caption">
        									<h4>JOB - III</h4>
        									<p></p>
        									<p><a href="#" class="pull-right">more >></a></p><br>
     									</div>
    								</div>
  								</div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
    								<div class="thumbnail">
      									<img src="image/img-pf-pic1.png" alt="pic1" />
      									<div class="caption">
        									<h4>JOB - I</h4>
        									<p></p>
        									<p><a href="#" class="pull-right">more >></a></p><br>
     									</div>
    								</div>
  								</div>
                    			<div class="col-sm-4 col-md-4 col-lg-4">
    								<div class="thumbnail">
      									<img src="image/img-pf-pic2.png" alt="pic2" />
                                        <img src="image/img-featured.png" class="featured" />
      									<div class="caption">
        									<h4>JOB - II</h4>
        									<p></p>
        									<p><a href="#" class="pull-right">more >></a></p><br>
     									</div>
    								</div>
  								</div>
                    			<div class="col-sm-4 col-md-4 col-lg-4">
    								<div class="thumbnail">
      									<img src="image/img-pf-pic3.png" alt="pic3">
      									<div class="caption">
        									<h4>JOB - III</h4>
        									<p></p>
        									<p><a href="#" class="pull-right">more >></a></p><br>
     									</div>
    								</div>
  								</div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
    								<div class="thumbnail">
      									<img src="image/img-pf-pic1.png" alt="pic1" />
                                        <img src="image/img-featured.png" class="featured" />
      									<div class="caption">
        									<h4>JOB - I</h4>
        									<p></p>
        									<p><a href="#" class="pull-right">more >></a></p><br>
     									</div>
    								</div>
  								</div>
                    			<div class="col-sm-4 col-md-4 col-lg-4">
    								<div class="thumbnail">
      									<img src="image/img-pf-pic2.png" alt="pic2">
      									<div class="caption">
        									<h4>JOB - II</h4>
        									<p></p>
        									<p><a href="#" class="pull-right">more >></a></p><br>
     									</div>
    								</div>
  								</div>
                    			<div class="col-sm-4 col-md-4 col-lg-4">
    								<div class="thumbnail">
      									<img src="image/img-pf-pic3.png" alt="pic3" />
                                        <img src="image/img-featured.png" class="featured" />
      									<div class="caption">
        									<h4>JOB - III</h4>
        									<p></p>
        									<p><a href="#" class="pull-right">more >></a></p><br>
     									</div>
    								</div>
  								</div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
    								<div class="thumbnail">
      									<img src="image/img-pf-pic1.png" alt="pic1" />
                                        <img src="image/img-featured.png" class="featured" />
      									<div class="caption">
        									<h4>JOB - I</h4>
        									<p></p>
        									<p><a href="#" class="pull-right">more >></a></p><br>
     									</div>
    								</div>
  								</div>
                    			<div class="col-sm-4 col-md-4 col-lg-4">
    								<div class="thumbnail">
      									<img src="image/img-pf-pic2.png" alt="pic2">
      									<div class="caption">
        									<h4>JOB - II</h4>
        									<p></p>
        									<p><a href="#" class="pull-right">more >></a></p><br>
     									</div>
    								</div>
  								</div>
                    			<div class="col-sm-4 col-md-4 col-lg-4">
    								<div class="thumbnail">
      									<img src="image/img-pf-pic3.png" alt="pic3" />
                                        <img src="image/img-featured.png" class="featured" />
      									<div class="caption">
        									<h4>JOB - III</h4>
        									<p></p>
        									<p><a href="#" class="pull-right">more >></a></p><br>
     									</div>
    								</div>
  								</div>
                                <ul class="pagination pull-right">
  									<li><a href="#">&laquo;</a></li>
  									<li class="active"><a href="#">1</a></li>
  									<li><a href="#">2</a></li>
  									<li><a href="#">3</a></li>
  									<li><a href="#">4</a></li>
  									<li><a href="#">5</a></li>
  									<li><a href="#">&raquo;</a></li>
								</ul>
                            </div>
                        </div>
                    </div>
             	</div>
        	</div>
            
     	</div>
        
        <footer>
            	<div class="row" style="margin:3% 5% 0 6%;">
                	<div class="col-lg-9 col-md-9 col-sm-9 pull-left">
                    	<p style="color:#ff7300;">&copy; Copyright 2014 Globussoft, Inc. | Website Development & Hosting by <a href="home.html">Globussoft.com</a></p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 pull-right img-social">
                        <a href="#"><span class="fa fa-google-plus-square fa-2x pull-right"></span></a>
                        <a href="#"><span class="fa fa-twitter-square fa-2x pull-right"></span></a>
                        <a href="#"><span class="fa fa-facebook-square fa-2x pull-right"></span></a>
                    </div>
                </div>
            </footer>
        
	</body>
</html>
